# emri i db qe ke kriju
DB_NAME=hireflow_db;
# user zakonisht asht postgres 
DB_USER=postgres
# password i db
DB_PASSWORD=passwordi_yt
DB_HOST=localhost
DB_PORT=5432

# OpenAI
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-5-mini

# Redis
REDIS_URL=redis://localhost:6379
